<section class="page-container container2">
  <h1>Medidas Normativas</h1>
  <p>
    La política explicó que, adicionalmente, está impulsando desde el Concejo de
    Bogotá un "proyecto para desincentivar las corridas de toros y novilladas".
    El documento propone, por ejemplo, que los taurinos destinen el 30 % de su
    publicidad para "informar del sufrimiento que padecen los animales en estos
    espectáculos, que asuman la totalidad de operación y de logística de esas
    actividades o que se prohíba la venta y consumo de licor" durante la
    corridas.
  </p>
  <p>
    Pero tal vez la propuesta principal y más polémica es la eliminación de las
    banderillas, el estoque y la pica en las corridas y la prohibición de la
    muerte del animal en la plaza", indicó la concejal. La Corte Constitucional
    de Colombia, al pronunciarse sobre la continuidad de las corridas de toros
    en Bogotá, vetadas en 2012 por el entonces alcalde Gustavo Petro, emitió en
    2017 un fallo en el que estableció que se debían respetar en los municipios
    donde esa práctica tuviera un arraigo cultural. La controversia sobre el
    tema se renovó esta semana en el país por el comienzo de la temporada
    bogotana y porque el alcalde de Medellín, Daniel Quintero, ratificó que en
    sus cuatro años de gobierno los toros no tendrán cabida en el coso de La
    Macarena. Al igual que el alcalde de Medellín, sus colegas de Bogotá y de
    Cali, Jorge Iván Ospina, han expresado abiertamente su rechazo a la
    tauromaquia y su intención de no destinar recursos públicos para esa
    actividad.
  </p>
  <iframe
    width="407"
    height="724"
    src="https://www.youtube.com/embed/khvdZA21tcs"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</section>
