<section class="page-container container1">
  <h1>No habrá temporada taurina en Bogotá en 2022</h1>
  <p class="parrafoLey">
    El Instituto Distrital de Recreación y Deporte (IDRD) anunció este jueves,
    13 de enero, que en 2022 no habrá temporada taurina en la capital del país,
    debido a que no se presentó ningún privado interesado para la concesión
    temporal de la Plaza de Toros, por lo cual el proceso se declaró desierto.
    "¡Cada día somos más los que defendemos todas las formas de vida!", afirmó
    el IDRD a través de su cuenta oficial de Twitter.
  </p>
  <p class="parrafoLey">
    Por su parte, la directora del IDRD, Blanca Durán, informó que el Instituto
    cumplió con abrir la convocatoria, como todos los años se hace. "Cumpliendo
    con la sentencia de la Corte Constitucional y con la ley, abrimos la
    convocatoria para esta temporada taurina 2022 de la Plaza de Toros de
    Bogotá. A pesar de que abrimos esta convocatoria hace más de un mes, ningún
    solicitante se presentó y por lo tanto hoy ha sido declarada desierta", dijo
    la funcionaria.
  </p>
  <p class="parrafoLey">
    Del mismo modo, la directora agradeció a quienes han trabajado para defender
    a los animales. "Es la razón por la que queremos informar a la ciudadanía
    que este año no tendremos temporada taurina en Bogotá. Queremos agradecer a
    todas las personas que han estado pendientes de esta convocatoria e
    informarle a todos los animalistas que Bogotá, y sobre todo esta alcaldía,
    sigue comprometida con la protección y el bienestar animal", agregó Durán.
  </p>
  
  <a
    href="https://www.camara.gov.co/sites/default/files/2020-03/P.L.064-2018C%20%28PRACTICAS%20TAURINAS%29.pdf"
    ><button
      type="button"
      class="btn btn-dark"
      style="background-color: rgb(112, 23, 23)"
    >
      Proyecto Ley Anti Taurina
    </button></a
  >
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <div class="card text-dark mb-3 cartas">
          <div class="card-header">Opinones en redes sociales</div>
          <div class="card-body">
            <h5 class="card-title">Alcaldia de bogota</h5>
            <p class="card-text">
              “No queremos corridas de toros, pero respetamos la ley. Esta nos
              impide detener la temporada taurina porque la administración
              pasada firmó un contrato hasta el 31/08/2020. Dentro del marco
              legal y cultural vamos a desincentivar estos
              espectáculos":@ClaudiaLopez #FiestaNoBrava
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-dark mb-3 cartas">
          <div class="card-header">Opinones en redes sociales</div>
          <div class="card-body">
            <h5 class="card-title">Orquesta filarmonica de bogota</h5>
            <p class="card-text">
              Serán 6 domingos de #MiFiestaNoBrava en los ciudadanos disfrutarán
              de presentaciones de la @filarmonibogota alrededor de la Plaza
              Cultural La Santamaría. @Bogota @CulturaenBta @idartes
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-dark mb-3 cartas">
          <div class="card-header">Opinones en redes sociales</div>
          <div class="card-body">
            <h5 class="card-title">Plataforma ALTO</h5>
            <p class="card-text">
              A la cebra, por el toro. ¡Arte, cultura! ¡No a la tortura!
              #TemporadaAntitaurina 
              #FiestaNoBrava
              #MovimientoAnimalista
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
