<nav class="navbar navbar-expand-lg" style="background-color: rgb(165, 30, 30)">
  <button
    class="navbar-toggler" style="background-color:rgb(212, 204, 204)"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <img src="assets/img/toro.png" />
  <a class="navbar-brand m-2" style="color: aliceblue" routerLink="inicio"
    ><img class="logo" src="assets/img/LOGO.png" />
  </a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="letras nav-link" routerLink="ley">Ley Antitaurina</a>
      </li>
      <li class="nav-item">
        <a class="letras nav-link" routerLink="datos">Medidas Normativas</a>
      </li>
      <li class="nav-item">
        <a class="letras nav-link active" routerLink="unete">Únete</a>
      </li>
    </ul>
    <form class="d-flex">
      <a
        href="https://i.pinimg.com/originals/62/85/9a/62859a42be5e4df238e1c6d8d9c98432.gif"
      >
        <button
          type="button"
          class="btn btn-dark"
          style="background-color: rgb(112, 23, 23)"
        >
          Salir
        </button></a
      >
    </form>
  </div>
</nav>
