/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;1,300;1,400&family=Poppins:wght@400;700&family=Roboto:wght@300;400&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.page-container {
  min-height: 80vh;
  padding-left: 10vw !important;
  padding-right: 10vw !important;
}
