<section class="page-container container3">
<div class= "imgFondo d-flex justify-content-center " style="height:90vh">
            
    <form class="formulario" >
      <h3 class="tituloForm">Contáctanos</h3>
     
      <div class="mb-3">
        <label for="inputName" class="form-label">Nombre</label>
        <input type="name" class="form-control" id="inputName" aria-describedby="nameHelp">
        <div id="nameHelp" class="form-text"></div>
      </div>

      <div class="mb-3">
        <label for="inputlast" class="form-label">Apellido</label>
        <input type="last" class="form-control" id="inputLast" aria-describedby="lastHelp">
        <div id="lastHelp" class="form-text"></div>
      </div>
      
      
      <div class="mb-3">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Nunca mostramos tú correo..</div>
      </div>
      <div class="mb-3">
        <label for="inputPhone" class="form-label">Telefono</label>
        <input type="phone" class="form-control" id="inputPhone">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="check">
        <label class="form-check-label" for="check">Registrame</label>
      </div>
      <button onClick= "Enviar()"type="button" class="btn btn-primary" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);">Enviar</button>
    
     <!--<h3>Comentarios adicionales</h3>
     <textarea name="comentario" id="comentario" cols="100" rows="10">
     </textarea>-->
    
    
    </form>
    
    </div>
</section>